# Initial Data Cleaning And Wrangling

In [1]:
import numpy as np
import pandas as pd

## Reading the data sets

In [2]:
dataset2006 = pd.read_csv(r"C:\Users\DELL\Desktop\Coursework\coursework data set\2006.csv")
dataset2007 = pd.read_csv(r"C:\Users\DELL\Desktop\Coursework\coursework data set\2007.csv")
datasetairports = pd.read_csv(r"C:\Users\DELL\Desktop\Coursework\coursework data set\airports.csv")
datasetcarriers = pd.read_csv(r"C:\Users\DELL\Desktop\Coursework\coursework data set\carriers.csv")
datasetplanedata = pd.read_csv(r"C:\Users\DELL\Desktop\Coursework\coursework data set\plane-data.csv")

## Merging the two years of data into one data set

In [3]:
mergeddataset = pd.concat([dataset2006, dataset2007])
mergeddataset

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27,12,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7453210,2007,12,15,6,1558.0,1605,1749.0,1736,DL,58,...,14,17,0,NaN,0,0,0,0,0,0
7453211,2007,12,15,6,1902.0,1851,2110.0,2105,DL,59,...,6,21,0,NaN,0,0,0,0,0,0
7453212,2007,12,15,6,1024.0,1025,1750.0,1735,DL,61,...,14,19,0,NaN,0,0,0,15,0,0
7453213,2007,12,15,6,1353.0,1315,1658.0,1622,DL,62,...,11,14,0,NaN,0,0,0,0,0,36
7453214,2007,12,15,6,1824.0,1800,2001.0,1928,DL,63,...,10,26,0,NaN,0,24,0,9,0,0

In [4]:
#dropping duplicated rows

In [5]:
mergeddataset.drop_duplicates(inplace=True)

In [6]:
#saving merged data set with duplicate rows removed

In [7]:
mergeddataset.to_csv(r"C:\Users\DELL\Desktop\Coursework\coursework data set\2006and2007mergeddataset.csv",index=False)

## Explore the datasets

In [8]:
dataset2006.shape

(7141922, 29)

In [9]:
dataset2007.shape

(7453215, 29)

In [10]:
datasetairports.shape

(3376, 7)

In [11]:
datasetcarriers.shape

(1491, 2)

In [12]:
datasetplanedata.shape

(5029, 9)

In [13]:
mergeddataset.shape

(14595103, 29)

In [14]:
mergeddataset.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [15]:
datasetairports.columns

Index(['iata', 'airport', 'city', 'state', 'country', 'lat', 'long'], dtype='object')

In [16]:
datasetcarriers.columns

Index(['Code', 'Description'], dtype='object')

In [17]:
datasetplanedata.columns

Index(['tailnum', 'type', 'manufacturer', 'issue_date', 'model', 'status',
       'aircraft_type', 'engine_type', 'year'],
      dtype='object')

In [18]:
mergeddataset.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn                 int64
TaxiOut                int64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay           int64
WeatherDelay           int64
NASDelay               int64
SecurityDelay          int64
LateAircraftDelay      int64
dtype: object

In [19]:
datasetairports.dtypes

iata        object
airport     object
city        object
state       object
country     object
lat        float64
long       float64
dtype: object

In [20]:
datasetcarriers.dtypes

Code           object
Description    object
dtype: object

In [21]:
datasetplanedata.dtypes

tailnum          object
type             object
manufacturer     object
issue_date       object
model            object
status           object
aircraft_type    object
engine_type      object
year             object
dtype: object